<div class="mt-4">
    <div class="row">
        <div class="description">
            <h1>{{product.name}}</h1>
            <p>
                {{product.details}}
            </p>
        </div>

        <div class="present">
            <iframe width="560" height="315" src="{{product.videoId}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <img src="{{product.image}}" alt="">
        </div>

        <button type="button" class="btn btn-danger">Buy Now</button>
    </div>
</div>